{% extends "app/base.html" %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        {% comment %} <h3>Welcome DUDU</h3> {% endcomment %}
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset Successfully !!!</h3>
            <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe></div>
            
            
            {% comment %} <div><iframe src="https://giphy.com/gifs/abcnetwork-not-dead-yet-abc-yetabc-notdeadyet-c6YbhJZ9PZ54dbjR1C" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe></div> {% endcomment %}
        </div>
        
    </div>
</div>
{% endblock main-content %}